<div class="asktu-departments asktu-form" data-dojo-attach-point="overlayTargetNode">	
	<div data-dojo-attach-point="titleNode" class="asktu-form-sub-title">${nls.departments}</div>
	<div data-dojo-attach-point="controlsNode" class="asktu-departments-controls-node">
		<button data-dojo-type="dijit/form/Button" data-dojo-attach-event="click:_onAddDepartment">${nls.addButton}</button>
		<!-- <button data-dojo-type="dijit/form/Button" data-dojo-attach-event="click:_onSaveChanges">${nls.saveButton}</button> -->		
	</div>	
	<div class="asktu-departments-items-node" data-dojo-attach-point="itemsNode"></div>	
</div>